@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.bz-btn-primary{
    color: white;
    background-color: #E76F51;
    font-size: 16px;
    font-weight: 500;
    transition: .5s ease-in-out;
}
.bz-btn-primary:hover{
    color: white;
    background-color: #ab513a;
}
.bz-btn-secondary{
    color: #E76F51;
    background-color: white;
    border: 1px solid #E76F51;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    transition: .5s ease-in-out;
}
.bz-btn-secondary:hover{
    color: white;
    background-color: #E76F51;
}
.bz-bg-primary{
    background-color: #264653;
}
.bz-bg-secondary{
    background-color: #0B0D17;
}
.bz-text-primary{
    color: #E76F51;
}
.bz-fs-1{
    font-size: 3rem;
}


.hero-text p{
    color: #E0E0E0;
}
.featured{
    margin-top: 100px;
}
.latest{
    margin-top: 200px;
    padding: 0 20px;
}
.clients{
    margin-top: 200px;
}
.ratting img{
    width: 5%;

}
.frequently{
    margin-top: 200px;
}

.footer{
    margin-top: 150px;
}